.servicepage {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-left: 70px;
    font-size: 1rem;
  }

  .text{
    margin-right: 50px;
  }

  li {
    font-size: 1rem;
    margin-left: 20px;
    list-style-type: disc;
  }

  .servicepageLogo{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }