.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#description{
  font-size: 3rem;
  margin-left: 180px;
  margin-right: 250px;
  margin-top: 50px;
}

#Container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items:center;
  width:100%;
}

.headerText{
  position: relative;
}

.textOnImage{
  position: absolute;
  color: white;
  font-family: 'myanmar-khyay-regular', sans-serif;
  font-size: 5rem;
  margin-top: 230px;
  margin-left: 160px;
  text-underline-offset: 20px;
}

.servicepage {
  display: flex;
  align-items: center;
  font-family: 'myanmar-khyay-regular', sans-serif;
  margin-left: 70px;
  font-size: 1rem;
}

.text{
  margin-right: 50px;
}

.servicepageLogo{
  margin-bottom: 100px;
  display: flex;
  align-items: center;
}
